/* --------------- BODY-TEXT --------------- */
@font-face {
  font-display: swap;
  font-family: 'wpsites';
  font-style: normal;
  font-weight: 300;
  src: url('/uplds/fonts/wpsites-300.woff2') format('woff2'),
       url('/uplds/fonts/wpsites-300.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'wpsites';
  font-style: normal;
  font-weight: 400;
  src: url('/uplds/fonts/wpsites-400.woff2') format('woff2'),
       url('/uplds/fonts/wpsites-400.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'wpsites';
  font-style: normal;
  font-weight: 500;
  src: url('/uplds/fonts/wpsites-500.woff2') format('woff2'),
       url('/uplds/fonts/wpsites-500.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'wpsites';
  font-style: normal;
  font-weight: 600;
  src: url('/uplds/fonts/wpsites-600.woff2') format('woff2'),
       url('/uplds/fonts/wpsites-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'wpsites';
  font-style: normal;
  font-weight: 700;
  src: url('/uplds/fonts/wpsites-700.woff2') format('woff2'),
       url('/uplds/fonts/wpsites-700.woff') format('woff');
}

/* --------------- HEADER-TEXT --------------- */
@font-face {
  font-display: swap;
  font-family: 'wpsites-header';
  font-style: normal;
  font-weight: 300;
  src: url('/uplds/fonts/wpsites-header-300.woff2') format('woff2'),
       url('/uplds/fonts/wpsites-header-300.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'wpsites-header';
  font-style: normal;
  font-weight: 400;
  src: url('/uplds/fonts/wpsites-header-400.woff2') format('woff2'),
       url('/uplds/fonts/wpsites-header-400.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'wpsites-header';
  font-style: normal;
  font-weight: 500;
  src: url('/uplds/fonts/wpsites-header-500.woff2') format('woff2'),
       url('/uplds/fonts/wpsites-header-500.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'wpsites-header';
  font-style: normal;
  font-weight: 600;
  src: url('/uplds/fonts/wpsites-header-600.woff2') format('woff2'),
       url('/uplds/fonts/wpsites-header-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'wpsites-header';
  font-style: normal;
  font-weight: 700;
  src: url('/uplds/fonts/wpsites-header-700.woff2') format('woff2'),
       url('/uplds/fonts/wpsites-header-700.woff') format('woff');
}

/* --------------- MONO-TEXT --------------- */
@font-face {
  font-display: swap;
  font-family: 'wpsites-mono';
  font-style: normal;
  font-weight: 300;
  src: url('/uplds/fonts/wpsites-mono-300.woff2') format('woff2'),
       url('/uplds/fonts/wpsites-mono-300.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'wpsites-mono';
  font-style: normal;
  font-weight: 400;
  src: url('/uplds/fonts/wpsites-mono-400.woff2') format('woff2'),
       url('/uplds/fonts/wpsites-mono-400.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'wpsites-mono';
  font-style: normal;
  font-weight: 500;
  src: url('/uplds/fonts/wpsites-mono-500.woff2') format('woff2'),
       url('/uplds/fonts/wpsites-mono-500.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'wpsites-mono';
  font-style: normal;
  font-weight: 600;
  src: url('/uplds/fonts/wpsites-mono-600.woff2') format('woff2'),
       url('/uplds/fonts/wpsites-mono-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'wpsites-mono';
  font-style: normal;
  font-weight: 700;
  src: url('/uplds/fonts/wpsites-mono-700.woff2') format('woff2'),
       url('/uplds/fonts/wpsites-mono-700.woff') format('woff');
}
