@use 'sass:math';

@function rem($pixel) {
    @if math.is-unitless($pixel) {
        @return math.div($pixel, 16) + rem;
    }
    @else {
        @error 'Ne használj mértékegységet wazzeg!!!';
    }
}

@function em($pixel) {
    @if math.is-unitless($pixel) {
        @return math.div($pixel, 16) + em;
    }
    @else {
        @error 'Ne használj mértékegységet wazzeg!!!';
    }
}