/* $$$$$$$- FONT SIZES $$$$$$$- */
$xs: clamp(0.8448rem, calc(0.8448rem + ((1vw - 0.3rem) * -0.0845)), 0.775rem);
$s: clamp(0.9173rem, calc(0.9173rem + ((1vw - 0.3rem) * 0.0051)), 0.9215rem);
$p: clamp(1.0026rem, calc(1.0026rem + ((1vw - 0.3rem) * 0.1216)), 1.1029rem);
$h6: clamp(1.1031rem, calc(1.1031rem + ((1vw - 0.3rem) * 0.2735)), 1.3287rem);
$h5: clamp(1.2216rem, calc(1.2216rem + ((1vw - 0.3rem) * 0.4723)), 1.6113rem);
$h4: clamp(1.3619rem, calc(1.3619rem + ((1vw - 0.3rem) * 0.7334)), 1.9669rem);
$h3: clamp(1.5282rem, calc(1.5282rem + ((1vw - 0.3rem) * 1.0771)), 2.4168rem);
$h2: clamp(1.7262rem, calc(1.7262rem + ((1vw - 0.3rem) * 1.531)), 2.9893rem);
$h1: clamp(1.9627rem, calc(1.9627rem + ((1vw - 0.3rem) * 2.1322)), 3.7218rem);
$l: clamp(2.2464rem, calc(2.2464rem + ((1vw - 0.3rem) * 2.9308)), 4.6643rem);
$xl: clamp(2.588rem, calc(2.588rem + ((1vw - 0.3rem) * 3.9953)), 5.8841rem);
$xxl: clamp(3.0013rem, calc(3.0013rem + ((1vw - 0.3rem) * 5.419)), 7.4719rem);
$jumbo: clamp(3.5035rem, calc(3.5035rem + ((1vw - 0.3rem) * 7.3301)), 9.5508rem);

/* $$$$$$$- PADDING SIZES $$$$$$$- */
$m1: clamp(0.15rem, calc(0.15rem + ((1vw - 0.3rem) * 0.0455)), 0.1875rem);
$m2: clamp(0.1884rem, calc(0.1884rem + ((1vw - 0.3rem) * 0.0671)), 0.2438rem);
$m3: clamp(0.2356rem, calc(0.2356rem + ((1vw - 0.3rem) * 0.0968)), 0.3155rem);
$m4: clamp(0.2933rem, calc(0.2933rem + ((1vw - 0.3rem) * 0.1372)), 0.4065rem);
$m5: clamp(0.3636rem, calc(0.3636rem + ((1vw - 0.3rem) * 0.1914)), 0.5215rem);
$m6: clamp(0.4487rem, calc(0.4487rem + ((1vw - 0.3rem) * 0.2636)), 0.6661rem);
$m7: clamp(0.5513rem, calc(0.5513rem + ((1vw - 0.3rem) * 0.3586)), 0.8471rem);
$m8: clamp(0.6744rem, calc(0.6744rem + ((1vw - 0.3rem) * 0.4826)), 1.0725rem);
$m9: clamp(0.8213rem, calc(0.8213rem + ((1vw - 0.3rem) * 0.6431)), 1.3518rem);
$m10: clamp(0.9958rem, calc(0.9958rem + ((1vw - 0.3rem) * 0.8493)), 1.6965rem);
$m11: clamp(1.2021rem, calc(1.2021rem + ((1vw - 0.3rem) * 1.1121)), 2.1196rem);
$m12: clamp(1.4448rem, calc(1.4448rem + ((1vw - 0.3rem) * 1.4447)), 2.6366rem);
$m13: clamp(1.7287rem, calc(1.7287rem + ((1vw - 0.3rem) * 1.8625)), 3.2653rem);
$m14: clamp(2.0595rem, calc(2.0595rem + ((1vw - 0.3rem) * 2.3838)), 4.0261rem);
$m15: clamp(2.4426rem, calc(2.4426rem + ((1vw - 0.3rem) * 3.03)), 4.9423rem);
$m16: clamp(2.8844rem, calc(2.8844rem + ((1vw - 0.3rem) * 3.8255)), 6.0404rem);
$m17: clamp(3.391rem, calc(3.391rem + ((1vw - 0.3rem) * 4.7987)), 7.3499rem);
$m18: clamp(3.9691rem, calc(3.9691rem + ((1vw - 0.3rem) * 5.9817)), 8.904rem);
$m19: clamp(4.6252rem, calc(4.6252rem + ((1vw - 0.3rem) * 7.4108)), 10.7391rem);
$m20: clamp(5.3662rem, calc(5.3662rem + ((1vw - 0.3rem) * 9.1266)), 12.8956rem);
$m21: clamp(6.1984rem, calc(6.1984rem + ((1vw - 0.3rem) * 11.1739)), 15.4169rem);
$m22: clamp(7.1282rem, calc(7.1282rem + ((1vw - 0.3rem) * 13.6023)), 18.3501rem);
$m23: clamp(8.1614rem, calc(8.1614rem + ((1vw - 0.3rem) * 16.4652)), 21.7452rem);
$m24: clamp(9.3033rem, calc(9.3033rem + ((1vw - 0.3rem) * 19.8205)), 25.6552rem);

/* $$$$$$$- MOBILE PADDING SIZES $$$$$$$- */
$mw1: clamp(0.1219rem, calc(0.1219rem + ((1vw - 0.3rem) * 0.0795)), 0.1875rem);
$mw2: clamp(0.1522rem, calc(0.1522rem + ((1vw - 0.3rem) * 0.111)), 0.2438rem);
$mw3: clamp(0.1894rem, calc(0.1894rem + ((1vw - 0.3rem) * 0.1532)), 0.3157rem);
$mw4: clamp(0.2348rem, calc(0.2348rem + ((1vw - 0.3rem) * 0.2093)), 0.4075rem);
$mw5: clamp(0.2901rem, calc(0.2901rem + ((1vw - 0.3rem) * 0.2836)), 0.5241rem);
$mw6: clamp(0.357rem, calc(0.357rem + ((1vw - 0.3rem) * 0.3812)), 0.6715rem);
$mw7: clamp(0.4379rem, calc(0.4379rem + ((1vw - 0.3rem) * 0.5084)), 0.8574rem);
$mw8: clamp(0.5351rem, calc(0.5351rem + ((1vw - 0.3rem) * 0.6734)), 1.0907rem);
$mw9: clamp(0.6516rem, calc(0.6516rem + ((1vw - 0.3rem) * 0.886)), 1.3826rem);
$mw10: clamp(0.7906rem, calc(0.7906rem + ((1vw - 0.3rem) * 1.1583)), 1.7462rem);
$mw11: clamp(0.9558rem, calc(0.9558rem + ((1vw - 0.3rem) * 1.5053)), 2.1976rem);
$mw12: clamp(1.1513rem, calc(1.1513rem + ((1vw - 0.3rem) * 1.9447)), 2.7557rem);
$mw13: clamp(1.3818rem, calc(1.3818rem + ((1vw - 0.3rem) * 2.4985)), 3.4431rem);
$mw14: clamp(1.6525rem, calc(1.6525rem + ((1vw - 0.3rem) * 3.1926)), 4.2864rem);
$mw15: clamp(1.9692rem, calc(1.9692rem + ((1vw - 0.3rem) * 4.0581)), 5.3171rem);
$mw16: clamp(2.338rem, calc(2.338rem + ((1vw - 0.3rem) * 5.132)), 6.5719rem);
$mw17: clamp(2.7659rem, calc(2.7659rem + ((1vw - 0.3rem) * 6.4578)), 8.0936rem);
$mw18: clamp(3.2604rem, calc(3.2604rem + ((1vw - 0.3rem) * 8.0864)), 9.9317rem);
$mw19: clamp(3.8295rem, calc(3.8295rem + ((1vw - 0.3rem) * 10.0775)), 12.1434rem);
$mw20: clamp(4.4817rem, calc(4.4817rem + ((1vw - 0.3rem) * 12.5)), 14.7942rem);

/* $$$$$$$- OBJECT SIZES $$$$$$$- */
$o1: clamp(0.87rem, calc(0.87rem + ((1vw - 0.3rem) * 0.1576)), 1rem);
$o2: clamp(1.0618rem, calc(1.0618rem + ((1vw - 0.3rem) * 0.216)), 1.24rem);
$o3: clamp(1.2944rem, calc(1.2944rem + ((1vw - 0.3rem) * 0.2926)), 1.5358rem);
$o4: clamp(1.5759rem, calc(1.5759rem + ((1vw - 0.3rem) * 0.3925)), 1.8998rem);
$o5: clamp(1.9165rem, calc(1.9165rem + ((1vw - 0.3rem) * 0.5221)), 2.3472rem);
$o6: clamp(2.3278rem, calc(2.3278rem + ((1vw - 0.3rem) * 0.6895)), 2.8966rem);
$o7: clamp(2.824rem, calc(2.824rem + ((1vw - 0.3rem) * 0.9046)), 3.5703rem);
$o8: clamp(3.4219rem, calc(3.4219rem + ((1vw - 0.3rem) * 1.1801)), 4.3954rem);
$o9: clamp(4.1414rem, calc(4.1414rem + ((1vw - 0.3rem) * 1.5313)), 5.4047rem);
$o10: clamp(5.0061rem, calc(5.0061rem + ((1vw - 0.3rem) * 1.9778)), 6.6378rem);
$o11: clamp(6.0441rem, calc(6.0441rem + ((1vw - 0.3rem) * 2.5433)), 8.1424rem);
$o12: clamp(7.2886rem, calc(7.2886rem + ((1vw - 0.3rem) * 3.2574)), 9.976rem);
$o13: clamp(8.7789rem, calc(8.7789rem + ((1vw - 0.3rem) * 4.1565)), 12.208rem);
$o14: clamp(10.5611rem, calc(10.5611rem + ((1vw - 0.3rem) * 5.2851)), 14.9213rem);
$o15: clamp(12.6899rem, calc(12.6899rem + ((1vw - 0.3rem) * 6.6982)), 18.2159rem);
$o16: clamp(15.2295rem, calc(15.2295rem + ((1vw - 0.3rem) * 8.4627)), 22.2112rem);
$o17: clamp(18.2554rem, calc(18.2554rem + ((1vw - 0.3rem) * 10.6604)), 27.0502rem);
$o18: clamp(21.8562rem, calc(21.8562rem + ((1vw - 0.3rem) * 13.3913)), 32.904rem);
$o19: clamp(26.136rem, calc(26.136rem + ((1vw - 0.3rem) * 16.7765)), 39.9766rem);
$o20: clamp(31.2162rem, calc(31.2162rem + ((1vw - 0.3rem) * 20.9635)), 48.5111rem);
