/* $$$$$$$- COLORS $$$$$$$- */
    $mc20: #f5fffb;
    $mc50: #e6fff4;
    $mc100: #cdfeea;
    $mc200: #9cfcd4;
    $mc300: #6cf9bf;
    $mc400: #3df5a9;
    $mc500: #0ff093;
    $mc600: #0ebe75;
    $mc700: #0c8d57;
    $mc800: #095d3a;
    $mc900: #052e1d;
    $mc950: #03170e;
    $mc980: #010906;
    $sc20: #f5f6ff;
    $sc50: #e5e8ff;
    $sc100: #ccd0ff;
    $sc200: #99a1ff;
    $sc300: #6672ff;
    $sc400: #3545fd;
    $sc500: #0519fa;
    $sc600: #0615c6;
    $sc700: #061193;
    $sc800: #050c61;
    $sc900: #030730;
    $sc950: #020418;
    $sc980: #010109;
    $mo0: #ffffff;
    $mo20: #f9f9fa;
    $mo50: #f1f1f4;
    $mo100: #e3e3e8;
    $mo200: #c7c8d1;
    $mo300: #abacba;
    $mo400: #8f90a3;
    $mo500: #73758c;
    $mo600: #5c5d70;
    $mo700: #454654;
    $mo800: #2e2f38;
    $mo900: #17171c;
    $mo950: #0b0c0e;
    $mo980: #050506;
    $mo1000: #000000;
    $mof0: #ffffff;
    $mof20: #f9f9fa;
    $mof50: #f1f1f4;
    $mof100: #e3e3e8;
    $mof200: #c7c8d1;
    $mof300: #abacba;
    $mof400: #8f90a3;
    $mof500: #73758c;
    $mof600: #5c5d70;
    $mof700: #454654;
    $mof800: #2e2f38;
    $mof900: #17171c;
    $mof950: #0b0c0e;
    $mof980: #050506;
    $mof1000: #000000;