@use '../utils' as *;

.main-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

/*---------------------------------------------------------
-------------------------TÖRÖLNI---------------------------
---------------------------------------------------------*/
body {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.flex {
	min-height: rem(300);
	background-color: $mo200;

	&__item {
		min-height: 100px;
		min-width: 100px;
		background-color: $mo400;
		padding: rem(20);
	}
}


/*---------------------------------------------------------
-----------------------------------------------------------
---------------------------------------------------------*/



.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	margin: 0;
	padding: 0;
	list-style: none;

	@include bp-min('md') {
		flex-wrap: nowrap;
	}	



	&__item {
		flex: 1 1 rem(200);
		min-height: rem(150);
		background-color: $mo100;
		padding: rem(20);
	}
}
































/*---------------------------------------------------------
-----------------------------------------------------------
---------------------------------------------------------*/

.navbar {
    height: 82px;
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: $mo50;
	-webkit-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .1);
	box-shadow: 0 22px 36px -22px rgba(0, 0, 0, .2);
}

.hidden {
	display: none;
}

.display__logo {
	height: 90%;
    min-height: 60px;
}
img.logo {
    height: 80%;
}

.nav__items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav__link {
	color: $mc600;
	text-decoration: none;
}

.nav__items {
	margin-top: 5px;

}

.brand .nav__link,
.nav__items .nav__link {
	padding: 10px 15px;
	text-align: center;
	display: block;
}

.nav__items .nav__link {
	color: $sc500;
	font-size: 0.99rem;
}

.nav__items .nav__link:hover {
	color: $sc700;
}

.nav__item:nth-child(1) .nav__link::before {
	content: '1. ';
}

.nav__item:nth-child(2) .nav__link::before {
	content: '2. ';
}

.nav__item:nth-child(3) .nav__link::before {
	content: '3. ';
}

.nav__item:nth-child(4) .nav__link::before {
	content: '4. ';
}

@media (min-width: 800px) {

	.navbar,
	.nav__items {
		display: flex;
	}

	.navbar {
		flex-direction: column;
		align-items: center;
	}

	.navbar {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media screen and (max-width: 799px) {
	.nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		background-color: $mo50;
		opacity: 0;
		transition: all 0.2s ease;
	}

	.nav .nav__items {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		padding-inline-start: 0;
	}

	.nav .nav__items .nav__item {
		display: block;
		float: none;
		width: 100%;
		text-align: right;
		margin-bottom: 10px;
	}

	.nav .nav__items .nav__item:nth-child(1) a {
		transition-delay: 0.2s;
	}

	.nav .nav__items .nav__item:nth-child(2) a {
		transition-delay: 0.3s;
	}

	.nav .nav__items .nav__item:nth-child(3) a {
		transition-delay: 0.4s;
	}

	.nav .nav__items .nav__item:nth-child(4) a {
		transition-delay: 0.5s;
	}

	.nav .nav__items .nav__item:not(:first-child) {
		margin-left: 0;
	}

	.nav .nav__items .nav__item .nav__link {
		padding: 10px 25px;
		opacity: 0;
		color: $mo100;
		font-size: 24px;
		font-weight: 600;
		transform: translateY(-20px);
		transition: all 0.2s ease;
	}

	.nav .nav__items .nav__item .nav__link:hover {
		color: $sc500
	}

	.nav__open {
		position: absolute;
		right: 10px;
		top: 16px;
		display: block;
		width: 48px;
		height: 48px;
		cursor: pointer;
		z-index: 9999;
		border-radius: 50%;
	}

	.nav__open i {
		display: block;
		width: 20px;
		height: 2px;
		background-color: $mo600;
		border-radius: 2px;
		margin-left: 14px;
	}

	.nav__open i:nth-child(1) {
		margin-top: 16px;
	}

	.nav__open i:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}

	.nav__open i:nth-child(3) {
		margin-top: 4px;
	}

}


#nav:checked+.nav__open {
	transform: rotate(45deg);
}

#nav:checked+.nav__open i {
	background-color: $mo100;
	transition: transform 0.2s ease;
}

#nav:checked+.nav__open i:nth-child(1) {
	transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav__open i:nth-child(2) {
	opacity: 0;
}

#nav:checked~.nav__item a {
	display: block !important;
}

#nav:checked+.nav__open i:nth-child(3) {
	transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav {
	z-index: 9990;
	opacity: 1;
}

#nav:checked~.nav ul li a {
	opacity: 1;
	transform: translateY(0);
}



